@model IEnumerable<NotDefteri1.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>Yeni Oluştur</h1>

<p>
    <a asp-action="Create">Yeni Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.noteTitle)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.noteDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.noteTitle)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.noteDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Ayrıntılar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
